html {
  font: 100%/1.15 sans-serif;
}

.main-cover {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
}

.breakfast-cover {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
} 

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}  

h1 {
  text-align: center;
  font-family: 'Gorditas', cursive;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-family: 'Gorditas', cursive;
  font-size: 30px;
}

.tagline {
  text-align: center;
}

body {
  font-family: Lexend;
  max-width: 60rem;
  padding: 0 0.5rem;
  margin: 1rem auto;
  padding-bottom: 2rem;
}

figcaption {
  font-family: 
  text-align: center;
}

ul {
  font-family: 'Poppins', sans-serif;
}

ol {
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 60em) {
  

nav ul {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1rem;
}
  
}

@media (min-width: 30em) {
  
.food {
    position: relative;
}
  
.food figcaption {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: -1;
  padding: 1rem;
  margin-top: 0;
}
  
.food:hover figcaption {
  z-index: 0;
  
}

.food figcaption div {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
}
