html {
  font: 100%/1.15 sans-serif;
}

.main-cover {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}  

h1 {
  text-alignment: center;
}  

body {
  font-family: Lexend;
  max-width: 60rem;
  padding: 0 0.5rem;
  margin: 1rem auto;
  padding-bottom: 2rem;
}

@media (min-width: 60em) {
  

nav ul {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1rem;
}
  
}  
